@keyframes secondeLoop {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes minuteLoop {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

.clockSecond {
  animation: secondeLoop 1s infinite linear;
  color: red;
}
